

.Appbar{
    background-color: blueviolet !important;
}
 .addBtn{
    background-color: blueviolet !important;
 } 

 .viewBtn,.buyBtn{
    color: blueviolet !important;
    outline: none;
    outline-color: blueviolet !important;
 }