

.Appbar{
    background-color: blueviolet !important;
}
 .addBtn{
    background-color: blueviolet !important;
 } 

 .viewBtn,.buyBtn{
    color: blueviolet !important;
    outline: none;
    outline-color: blueviolet !important;
 }

  .checkBtn{
   background-color: blueviolet !important;
   width: 90%;
   margin-top: 15% !important;
   margin-bottom: 15% !important;
   /* margin: 4px; */
   margin-left: 19px !important;
  }